<link type="text/css" href="css/owl.carousel.css" rel="stylesheet">
<link href="css/owl.theme.css" rel="stylesheet">
<link href="css/lightgallery.css" rel="stylesheet">
<link rel="stylesheet" href="js/plugins/datetime/datetimepicker.css" />

<style>
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1080;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay {
      overflow-y: auto;
    }
    .overlay a {
      font-size: 20px
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 0px;
      right: 0px;
    }
  }


  .btn-default.active:hover {
    background-color: #fff !important;
  }

  .btn-default.active {
    background-color: #fff !important;
  }

  .btn-default:hover {

    background-color: #fff !important;
  }

  .btn.active,
  .btn:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
</style>
<div ng-if="vm.loading" class="col-md-12 text-center" style="padding-top:14em;">
  <img alt="Ajax loader" class="login-ajax-loader" src="img/ajax-loader.gif">
</div>
<div ng-if="!vm.loading">
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">


        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/banner3.jpg" alt="img1" style="width:100%;">
          </div>

          <div class="item">
            <img src="img/banner3.jpg" alt="img2" style="width:100%;">
          </div>

          <div class="item">
            <img src="img/banner3.jpg" alt="img3" style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
      </div>
    </div>
  </div>
  <section onclick="openNav()">
    <div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active" data-src="img/banner3.jpg" data-sub-html="<h4>Fading Light</h4>">
          <img src="img/banner3.jpg" alt="Chania">

        </div>


      </div>
      <!-- Left and right controls -->
      <span class="left carousel-control" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </span>
      <span class="right carousel-control" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </span>
    </div>
  </section>
  <section>
    <div class="add-this-links">
      <div class="addthis_sharing_toolbox" style="clear:both">
        <div class="at-share-btn-elements">
          <a class="fa fa-facebook-square fa-2x"></a>
          <a class="fa fa-twitter-square fa-2x"></a>
          <a class="fa fa-pinterest-square fa-2x"></a>
          <a class="fa fa-whatsapp fa-2x"></a>
          <a class="fa fa-envelope-square fa-2x"></a>
        </div>
      </div>
    </div>
  </section>
  <section style="padding-top:17px">
    <div style="margin-top:20px"></div>
    <div class="title">
      <h1>{{vm.venue.name}}</h1><span>{{vm.venue.city}} | {{vm.venue.address}}</span></div>
    <div style="margin-top:20px"></div>
    <div class="events-allowed">
      <div ng-if="vm.venue.event_type.indexOf( 'Event' ) > -1" class="item">
        <img alt="Icon eventype event on" src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/space_page/icon_eventype_Event_on.png">
        <span>Event</span>
      </div>
      <div ng-if="vm.venue.event_type.indexOf( 'Meeting' ) > -1" class="item">
        <img alt="Icon eventype meeting on" src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/space_page/icon_eventype_Meeting_on.png">
        <span>Meeting</span>
      </div>
      <div ng-if="vm.venue.event_type.indexOf( 'Production' ) > -1" class="item">
        <img alt="Icon eventype production on" src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/space_page/icon_eventype_Production_on.png">
        <span>Production</span>
      </div>
      <div ng-if="vm.venue.event_type.indexOf( 'Pop-up' ) > -1" class="item">
        <img alt="Icon eventype pop up on" src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/space_page/icon_eventype_Pop-up_on.png">
        <span>Pop-up</span>
      </div>
      <div ng-if="vm.venue.max_guests!==''" class="item">
        <img alt="Icon guests" src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/space_page/icon_guests.png">
        <span>{{vm.venue.max_guests}} Max</span>
      </div>
    </div>
    <div class="revisited" style="margin-bottom: 40px"></div>
    <div class="availability" id="space">
      <section>
        <h2>Availability</h2>
        <div class="data">
          <span>Open {{vm.venue.available[0].from.day}} {{vm.venue.available[0].from.time}} to {{vm.venue.available[0].to.day}} {{vm.venue.available[0].to.time}}  </span>
        </div>
      </section>
    </div>
    <div style="margin-top:20px"></div>
    <div class="splace-description">
      <section>
        <h2>The Space</h2>
        <div class="data">
          <p>{{vm.venue.description}}</p>
          <div style="margin-top:20px"></div>
          <span ng-if="vm.venue.no_of_floors!==''">Floor {{vm.venue.no_of_floors}}</span>
          <span>&nbsp; | &nbsp;</span>
          <span ng-if="vm.venue.area!==''">{{vm.venue.area}} sq. feet<span>&nbsp; | &nbsp;</span></span>
          <span>{{vm.venue.kind}}</span><span>&nbsp; | &nbsp;</span>
          <span ng-if="vm.venue.no_of_rooms!==''">{{vm.venue.no_of_rooms}} Rooms</span><span>&nbsp; | &nbsp;</span>
          <span ng-if="vm.venue.no_of_restrooms!==''">{{vm.venue.no_of_restrooms}} Bathrooms</span></div>
      </section>
    </div>

    <div style="margin-top:30px"></div>
    <div class="pricing" id="pricing">
      <section>
        <h2>Pricing</h2>
        <div class="data">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <img alt="Icon pricing hourly" height="28" src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/space_page/icon_pricing_hourly.png">
                </div>
                <div class="col-md-10">
                  <div class="span1">Hourly (starting from)</div>
                  <div class="span2">&#8377;{{vm.venue.hourly_rate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top:30px"></div>
          <div class="sp-fs-12px">
            <img alt="Icon plus" height="7" src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/space_page/icon_plus.png">&nbsp;Minimum
            hours:&nbsp;&nbsp;
            <span class="sp-georgia sp-italic sp-fs-14px">{{vm.venue.min_hours}}</span>
          </div>
          <div class="sp-fs-12px"></div>
        </div>
      </section>
    </div>
  </section>
  <section class="right-widget">
    <div class="main-section-a">
      <div class="row sd-1">
        <div class="col-xs-7 h-price">Starting From<br><span>&#8377;{{vm.venue.hourly_rate}}</span>&nbsp;/hr (minimum {{vm.venue.min_hours}} hr)</div>
        <div class="col-xs-5 h-stars">
          <div class="sp-pointer">({{vm.venue.reviews.length}} Reviews)</div>
        </div>
      </div>
      <div class="sd-3">
        <div class="reserve" id="reservation-section">
          <form id="reservation-form">
            <div class="row">
              <div class="col-md-6 text-left" style="padding-right: 5px">
                <div class="text-left sp-fs-12px" style="color: #606060;">Event Type</div>
                <a class="btn btn-default btn-select btn-select-light">

                        <span class="btn-select-value">Select Item</span>
                        <i class='btn-select-arrow fa fa-caret-down'></i>
                        <ul>
                            <li ng-click="vm.eventSelect('Event')">Event</li>
                            <li ng-click="vm.eventSelect('Meeting')">Meeting</li>
                            <li ng-click="vm.eventSelect('Production')">Production</li>
                            <li ng-click="vm.eventSelect('Pop-up')">Pop-up</li>
                        </ul>
                    </a>
              </div>
              <div class="col-md-6 right-select" style="padding-left: 5px">
                <div class="text-left sp-fs-12px" style="color: #606060;">No. of guests</div>
                
                        <input type="number" class="btn btn-default btn-select btn-select-light" ng-model="vm.book.guests" />
                     
              
                  
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-left" style="padding-right: 5px">
                <div class="text-left sp-fs-12px" style="color: #606060;">Start</div>
                <div class="input-append date form_datetime">
                  <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                      <div class="input-group"><input type="text" class="form-control" data-ng-model="vm.startDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker data-ng-model="vm.startDate" 
                      data-on-set-time="vm.startChange()" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-right" style="padding-left: 5px">
                <div class="text-left sp-fs-12px" style="color: #606060;">End</div>
                <div class="input-append date form_datetime" id="reserve-form-datetime-check-out">
                  <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                      <div class="input-group"><input type="text" class="form-control" data-ng-model="vm.endDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker data-ng-model="vm.endDate" 
                      data-on-set-time="vm.endChange()" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div style="margin-top:20px"></div>
          <input class="contact-host-btn" id="pay-button" type="button" value="Book Venue">
          <div class="sp-margin-top-7px"></div>
          <input class="book-visit-btn" onclick="openCHF('visit')" type="button" value="Book a visit">

        </div>
        <div class="row sd-2">
          <div class="col-xs-3">
            <img alt="M6lgkas71k5jfshwsx4a" class="img-circle" height="70" src="https://res.cloudinary.com/splacer/image/upload/c_thumb,g_face,h_70,r_max,w_70/v1/production/users/m6lgkas71k5jfshwsx4a.jpg"
              width="70">
          </div>
          <div class="col-xs-8 owner-d">
            <div class="owner-name">Tom G.&nbsp;</div>
            <div class="sp-margin-top-10px"></div>
            <div class="sp-margin-top-3px"></div>
            <img alt="Trusted owner" class="trusted-owner-img-sm" data-tooltip="Trusted owner" height="14" id="#trusted-owner-tooltip"
              src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/space_page/trusted_owner.png">&nbsp;Trusted
            owner
            <br>Member since Apr '16<br>Responds within&nbsp;<span class="sp-bold">11 hours</span>
          </div>
        </div>
      </div>
    </div>
    <div class="main-section-b">
      <div class="sp-margin-top-30px"></div>
      <div class="sp-fs-14px">Need more help booking a space?</div>
      <div class="sp-fs-14px">Splacer representatives are here to help.</div>
      <div class="sp-fs-14px">
        <a class="sp-fs-14px" href="mailto:info@splacer.co">Contact us</a>&nbsp;with any questions.</div>
      <div class="sp-margin-top-10px"></div>
    </div>
  </section>
  <style>
    #owl-demo .item {
      display: block;
      padding: 18px 0px;
      margin: 0px;
      color: #000;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
    }


    .owl-theme .owl-controls .owl-buttons div {
      padding: 5px 9px;
    }

    .owl-theme .owl-buttons i {
      margin-top: 2px;
      font-size: 32px;
    }
    /*To move navigation buttons outside use these settings:*/

    .owl-theme .owl-controls .owl-buttons div {
      position: absolute;
    }

    .owl-theme .owl-controls .owl-buttons .owl-prev {
      left: -34px;
      top: 43px;
    }

    .owl-theme .owl-controls .owl-buttons .owl-next {
      right: -34px;
      top: 43px;
    }

    .splace-small-gallery-image {
      height: 109px;
      width: 193px;
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
  </style>
  <div style="margin-top:40px"></div>
  <section>
    <div class="container">
      <div class="col-sm-8 col-sm-offset">
        <div id="owl-demo" class="owl-carousel owl-theme">
          <div class="item">
            <div class="splace-small-gallery-image" style="background-image:url(https://res.cloudinary.com/splacer/image/upload/c_fill,f_auto,h_109,w_197/e_mask,g_center,l_Production:Assets:splacer_logo.png,o_8,w_200/v1472574701/production/Splaces/001985/ulo3uotykeqlj6o32ajx.jpg);">

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <div style="margin-top:30px"></div>

  <div class="splace-tags">
    <section id="splace-tags-section">
      <div ng-repeat=" s in vm.venue.style" class="splace-tag">{{s}}<span></span><span></span></div>
      <div ng-repeat=" f in vm.venue.feature" class="splace-tag">Feature {{f}}<span></span><span></span></div>
      <div class="splace-tag">High Ceiling<span></span><span></span></div>
      <div class="splace-tag">Large Windows<span></span><span></span></div>

    </section>

  </div>
  <div style="height:30px;"></div>
  <div class="more-info" id="amenities">
    <section>
      <h2>Amenities</h2>
      <div class="margin-top-30px">
      </div>
      <div class="row">
        <div class="col-md-4">
          <div ng-class="vm.venue.amenities.indexOf( 'Air Conditioning' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Air Conditioning</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Wifi' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Wifi</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Kitchen' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Kitchen</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Tableware' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Tableware</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Bathrooms' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Bathrooms</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Heat' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Heat</div>
        </div>
        <div class="col-md-4">
          <div ng-class="vm.venue.amenities.indexOf( 'Sound System' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Sound System</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Large table' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Large table</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Lounge Furniture' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Lounge Furniture</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Natural Light' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Natural Light</div>
          <div ng-class="vm.venue.amenities.indexOf( 'TV' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">TV</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Lighting System' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Lighting System</div>
        </div>
        <div class="col-md-4">
          <div ng-class="vm.venue.amenities.indexOf( 'Stage' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Stage</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Bare Walls' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Bare walls</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Projector' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Projector</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Screen' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Screen</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Whiteboard' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Whiteboard</div>
          <div ng-class="vm.venue.amenities.indexOf( 'Photography Lighting' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Photography Lighting</div>
        </div>
        <div class="col-md-4">
          <div ng-class="vm.venue.amenities.indexOf( 'Additional Chairs' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Additional chairs</div>
        </div>
      </div>
      <div style="margin-top:40px"></div>
      <div class="row">
        <div class="col-md-4">
          <h2>Accessibility</h2>
          <div style="margin-top:30px"></div>
          <div class="splace-accessibility">Stairs</div>
          <div ng-class="vm.venue.accessibility.indexOf( 'Elevator' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Elevator</div>
          <div ng-class="vm.venue.accessibility.indexOf( 'Street Level' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Street level</div>
          <div ng-class="vm.venue.accessibility.indexOf( 'Wheel Chair / Handicapped Accessible' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Wheelchair / handicapped accessible</div>
          <div ng-class="vm.venue.accessibility.indexOf( 'On-site Parking' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">On-site parking</div>
          <div ng-class="vm.venue.accessibility.indexOf( 'Freight Elevator' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Freight elevator</div>
          <div ng-class="vm.venue.accessibility.indexOf( 'Delivery Access' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Delivery access</div>
          <div ng-class="vm.venue.accessibility.indexOf( 'Parking Near By' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">Parking near by</div>
          <div ng-class="vm.venue.accessibility.indexOf( 'On-site Parking' ) > -1 ? 'splace-facility' : 'splace-facility splace-facility-not-available'">on-site</div>
        </div>
        <div class="col-md-4">
          <h2>Space Rules</h2>
          <div class="sp-margin-top-30px"></div>
          <div ng-class="vm.venue.rules.indexOf( 'No Open Flame' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No open flame</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Smoking' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No smoking</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Alcohol (selling)' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No alcohol (selling)</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Smoking Outside' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Smoking Outside</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Cooking' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Cooking</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Ticket Sales' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Ticket Sales</div>

        </div>
        <div class="col-md-4">
          <div ng-class="vm.venue.rules.indexOf( 'No Music' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Music</div>
          <div ng-class="vm.venue.rules.indexOf( 'No One Under 21' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No One Under 21</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Teenagers (10-18)' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Teenagers (10-18)</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Children (0-10)' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Children (0-10)</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Outside Catering/food' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">
            No Outside Catering/food</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Loud Music / Dancing' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Loud Music / Dancing</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Alcohol (serving)' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Alcohol (serving)</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Open House' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Open House</div>
          <div ng-class="vm.venue.rules.indexOf( 'No Late Night Parties' ) > -1 ? 'splace-rule' : 'splace-rule splace-facility-not-available'">No Late Night Parties</div>
        </div>
      </div>
    </section>
  </div>

  <section>
    <div style="margin:20px 0"></div>

    <section id="location">
      <div class="map">
        <section>
          <ng-map center="[{{vm.venue.location[0]}},{{vm.venue.location[1]}}]">
            <marker icon="img/pin.png" position="{{vm.venue.location[0]}},{{vm.venue.location[1]}}" title="{{vm.venue.name}}" ng-repeat="v in vm.venues track by $index">
          </ng-map>
        </section>
      </div>
    </section>
    <div style="margin:20px 0"></div>
  
    <div class="cancellation">
      <section>
        <h2>Cancellation &amp; Security Deposit</h2>
        <div class="data"><a href="">Cancellation policy:</a>&nbsp;<span class="sp-italic">Strict</span>&nbsp;
          <p>50% refund up to 1 week prior to arrival, except processing fees</p>
          <div class="sp-margin-top-5px"></div>Security deposit:&nbsp;<span class="sp-italic">&#8377;2500.0</span>&nbsp;
          <p>(Will be collected separately by the space owner)</p>
        </div>
      </section>
    </div>
    <div style="margin:20px 0"></div>
  </section>
</div>
<script src="js/owl.carousel.js"></script>
<script type="text/javascript">
  $(".dropdown-menu li a").click(function () {
    $(this).parents(".dropdown1").find('.btn1').html($(this).text());
    $(this).parents(".dropdown1").find('.btn1').val($(this).data('value'));
  });

</script>



<script>
  function openNav() {
    document.getElementById("myNav").style.height = "100%";
  }

  function closeNav() {
    document.getElementById("myNav").style.height = "0%";
  }

</script>
<script>
  $(window).scroll(function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 50) {
      $(".splace-nav").addClass("display-nav");
    } else {
      $(".splace-nav").removeClass("display-nav");
    }
  });
  $('.splace-nav section a').bind('click', function (event) {
    $('.splace-nav section a').removeClass('active');
    $(this).closest('a').addClass('active');
    var $anchor = $(this);
    var nav = $($anchor.attr('href'));
    if (nav.length) {
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1500, 'easeInOutExpo');

      event.preventDefault();
    }
  });
  $(window).scroll(function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 300) {
      $(".right-widget").addClass("position-fixed");
    } else {
      $(".right-widget").removeClass("position-fixed");
    }
  });

</script>
<script>
  $(document).ready(function () {
    $(".btn-select").each(function (e) {
      var value = $(this).find("ul li.selected").html();
      if (value != undefined) {
        $(this).find(".btn-select-input").val(value);
        $(this).find(".btn-select-value").html(value);
      }
    });
  });

  $(document).on('click', '.btn-select', function (e) {
    e.preventDefault();
    var ul = $(this).find("ul");
    if ($(this).hasClass("active")) {
      if (ul.find("li").is(e.target)) {
        var target = $(e.target);
        target.addClass("selected").siblings().removeClass("selected");
        var value = target.html();
        $(this).find(".btn-select-input").val(value);
        $(this).find(".btn-select-value").html(value);
      }
      ul.hide();
      $(this).removeClass("active");
    }
    else {
      $('.btn-select').not(this).each(function () {
        $(this).removeClass("active").find("ul").hide();
      });
      ul.slideDown(300);
      $(this).addClass("active");
    }
  });

  $(document).on('click', function (e) {
    var target = $(e.target).closest(".btn-select");
    if (!target.length) {
      $(".btn-select").removeClass("active").find("ul").hide();
    }
  });

</script>

<script>
  $(document).ready(function () {

    //Sort random function
    function random(owlSelector) {

    }

    $("#owl-demo").owlCarousel({
      navigation: true,
      items: 3,
      navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
      ],
      beforeInit: function (elem) {
        //Parameter elem pointing to $("#owl-demo")
        random(elem);
      }

    });

  });
  $(".splace-nav section a").on('click', function (event) {
    event.preventDefault();
    var hash = this.hash;
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function () {
      window.location.hash = hash;
    });
  });

</script>




<script src="https://secure.payu.com/front/widget/js/payu-bootstrap.js" pay-button="#pay-button" merchant-pos-id="145227"
  shop-name="Shop name" total-amount="{{vm.testPay}}" success-callback="test" currency-code="PLN" customer-language="en" store-card="true"
  customer-email="email@exampledomain.com" sig="6c9bb18db84165f53b5918380833723bc5fbb95ec5a9b73a4cb02dd60c11c64e">

  </script>
<script>
  function test($data) {
    console.log($data);
    angular.element(document.getElementById('pay-button')).scope().submit($data);

  }

</script>