
	<link rel="stylesheet" type="text/css" href="css/profile_nav.css">
  <loader ng-if="vm.loading"></loader>
<section style="margin-top: 80px">
 <div class="container">
   <div class="page edit-user">
     <div class="row-centered">
       <div class="sp-side-header"><h1>Profile</h1></div>
       <div class="sp-form">
         <section>
           <h2>Profile Photo</h2>
            <div class="profile-photo-edit">
              <div class="row">
               <div class="col-sm-3">
              </div>
               <div class="col-sm-9">
              
                 <input type="file" id="profilePhoto" class="sp-btn sp-btn-has-icon  sp-btn-transparent sp-semibold sp-capitalize sp-btn-mh-alternate" style="max-width: 100%;"><i class="sp-icon sp-icon-pencil_edit"></i><span>Upload profile photo</span>
                 <label>Adding a profile photo helps other people know you better</label>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h2>Basic Information</h2>
          <div class="row form-group inline">
           <div class="col-sm-4">
             <label>First Name</label>
            </div>
          <div class="col-sm-5">
          <span class="sp-field-container undefined">
          <input type="text" class="sp_input" name="first_name" value="" ng-model="vm.profile.fName"><!-- react-text: 128 --><!-- /react-text --></span>
          </div>
        </div>
        <div class="row form-group inline">
         <div class="col-sm-4">
           <label>Last Name</label>
         </div>
         <div class="col-sm-5">
           <span class="sp-field-container undefined">
           <input type="text" class="sp_input" name="last_name" value="" ng-model="vm.profile.lName"><!-- react-text: 135 --><!-- /react-text -->
           </span>
          </div>
        </div>
        <div class="row form-group inline">
         <div class="col-sm-4">
           <label>Email</label>
          </div>
           <div class="col-sm-5">
            <span class="sp-field-container undefined">
            <input type="email" class="sp_input" name="email" value="" ng-model="vm.profile.email"><!-- react-text: 142 --><!-- /react-text -->
            </span>
          </div>
        </div>
        <div class="row form-group inline">
         <div class="col-sm-4">
          <label>Mobile Number</label>
         </div>
         <div class="col-sm-5">
           <span class="sp-field-container">
           
           <input id="phone" type="tel" class="int-dummy" name="mobile_phone" value="" tabindex="-1" ng-model="vm.profile.phone">
           </span>
          </div>
        </div>
        <div class="row form-group inline">
          <div class="col-sm-4">
            <label>Address</label>
          </div>
            <div class="col-sm-5">
              <span class="sp-field-container undefined">
                <input type="address" class="sp_input" id="raw_address" name="raw_address" 
                value="" placeholder="Enter a location" autocomplete="off" ng-model="vm.profile.address"><!-- react-text: 92 --><!-- /react-text -->
              </span>
            </div>
          </div>
        <div class="row form-group">
          <div class="col-sm-9">
            <label class="inline">About me</label><br>
              <span class="sp-field-container ">
                <textarea class="sp_input undefined" name="about_me"
                 type="textarea" placeholder="Some text here..." ng-model="vm.profile.aboutMe"></textarea><!-- react-text: 99 --><!-- /react-text -->
              </span>
              <div class="field-tip"><!-- react-text: 101 -->Help event organizers get to know you.<!-- /react-text --><br><!-- react-text: 103 -->Tell them about the things you like: What are your hobbies? Do you have a passion for events and hosting? Share your favorite music, food, books, artists, etc.<!-- /react-text -->
             </div>
            </div>
          </div>
        </section>
        <section>
          <h2>Company Information</h2>
            <div class="row form-group inline">
              <div class="col-sm-4">
               <label>Company Name</label>
              </div>
              <div class="col-sm-5">
                <span class="sp-field-container undefined">
                 <input type="text" class="sp_input" name="company" value="" ng-model="vm.profile.companyName"><!-- react-text: 112 --><!-- /react-text -->
                </span>
              </div>
            </div>
            <div class="row form-group inline">
              <div class="col-sm-4">
                <label>Job Title</label>
              </div>
              <div class="col-sm-5">
               <span class="sp-field-container undefined">
                <input type="text" class="sp_input" name="job_title" value="" ng-model="vm.profile.jobTitle"><!-- react-text: 119 --><!-- /react-text -->
               </span>
              </div>
            </div>
            <div class="row form-group inline">
              <div class="col-sm-4">
                <label>Company Phone</label>
              </div>
              <div class="col-sm-5">
              <span class="sp-field-container ">
                <input type="text" id="phone2" class="int-dummy" name="business_phone" 
                 value="" tabindex="-1" ng-model="vm.profile.companyPhone">
              </span>
              </div>
               </div>
               <div class="row form-group inline">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-5">
                <span class="sp-field-container ">
              <button ng-click="vm.submit()"  class="sp-btn sp-btn-has-icon  sp-btn-transparent sp-semibold sp-capitalize sp-btn-mh-alternate" style="max-width: 100%;"><i class="sp-icon sp-icon-pencil_edit"></i><span>UPDATE</span></button>
                </span>
              </div>
            </div>
        </section>
       </div>
     </div>
   </div>
</div>
</section>
