

<div class="static-pages-header-md">
  <div class="static-pages-header-image">
      <img alt="Header mission" class="img-responsive" height="530" src="https://res.cloudinary.com/splacer/image/upload/v1/Production/Assets/static_pages/mission_page/header_mission.jpg" width="1920">
  </div>

<div class="static-pages-nav_bar">
     <a class="" href="/#/about">About</a>
     <a class="" href="/#/security_deposits">Security Deposits</a>
     <a class="active-link" href="/#/cancellation_policy">Cancellation Policy</a>
     <a class="" href="/#/team">Team</a>
</div>
</div>

   <div class="sp-margin-top-40px"></div>
   <div class="sp-margin-top-5px"></div>
<section>
<div class="container">
    <div class="main-content ">
     <h1>Cancellation Policy</h1>
        
        <div class="sp-margin-top-10px"></div>
          <p style="text-align: center !important; line-height: 28px !important; font-size:16px !important;"><strong>CANCELLATION 7 DAYS OR BEFORE THE BOOKING DATE.</strong></p><div class="sp-margin-top-30px"></div>
        <p style="text-align: center !important; line-height: 28px !important; font-size:16px !important;"> Any Booking cancelled by a Guest <b>seven (7) calendar days</b>, or fewer, prior to the start of the booking period is non-refundable and the Guest will be charged the entire License Charge in addition to the Processing Fee.</p>
    </div>
       <div class="sp-margin-top-50px"></div>
    <div class="col-xs-12 sdeposite-img">
        <img class="img-responsive img" width="100%" height="300px" src="img/5064169-hd-business-wallpaper.jpg">
    </div> 
</div>
    
 <div class="sp-margin-top-50px"></div>
</section>


