

    <style>
     .c11 {
    font-weight: 700;
   
}
.c13 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
}
.c19 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center;
    height: 1pt;
}
.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: justify;
}
.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: justify;
    height: 12pt;
}
.c5 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 15px;
    font-style: normal;
}
.c20 {
    padding-top: 5pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
}
.c4 {
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal;
}
.c6 {
    margin-left: 36pt;
    text-indent: -4.5pt;
}
.c1 {
    font-weight: 400;

}
.c7 {
    color: #000000;
    text-decoration: underline;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal;
}
.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: justify;
}




.c24 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-style: normal;
} 
.c17 {
    margin-left: 36pt;
}
.c14 {
    margin-left: 90pt;
    padding-top: 5pt;
    text-indent: -18pt;
    padding-bottom: 5pt;
    line-height: 1.0;
    text-align: justify;
}

.c20 {
    padding-top: 5pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
}
.c15 {
    padding-top: 5pt;
    padding-bottom: 5pt;
    line-height: 1.0;
    text-align: justify;
}
.c9 {
    padding: 0;
    margin: 0;
}
ul.lst-kix_list_1-0 {
    list-style-type: none;
}
.c0 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: justify;
}
.c1 {
    font-weight: 400;
    
}
    </style>
   
   
    
<section class="container static-page tos mobile-text" style="margin-top: 100px">
   <section>
   <p class="c13">
    <span class="c11 c24">Privacy Policy<br></span></p><br>
    <p class="c13"><span class="c5 c11">Last Updated: March 2017</span></p>
    <p class="c19"><span class="c5 c11"></span></p>
    <p class="c3">
      <span class="c1">We at Splacer Inc. (“</span><span class="c1 c21">Splacer</span><span class="c1">,” “</span>
      <span class="c1 c21">we</span><span class="c1">,” “</span><span class="c1 c21">us</span><span class="c1">,” or “</span>
      <span class="c1 c21">our</span>
      <span class="c1">”) have created this privacy policy (this “</span>
      <span class="c1 c21">Privacy Policy</span>
      <span class="c5 c1">”) because we know that you care about how information you provide to us is used and shared. &nbsp;This Privacy Policy relates to the information collection and use practices of Splacer in connection with our Site and our Services. &nbsp;By visiting our Site or using our Services, Visitors and Registered Users are agreeing to the terms of this Privacy Policy and the accompanying Terms of Use. Capitalized terms not defined in this Privacy Policy shall have the meaning set forth in our Terms of Use.</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c13"><span class="c4">The Information We Collect</span></p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">In the course of operating the Site and/or providing our Services, we may collect (and/or receive) the following types of information. You authorize us to collect and/or receive such information.</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="c7 c1">Personal Information</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">When you sign up to become a Registered User, you will be required to provide us with personal information about yourself, such as your name, e-mail address, location, and phone number. &nbsp;If you contact us, you will need to provide your name and e-mail address. &nbsp;Registered Users may also provide identifiable information in the course of using the Site or the Services. &nbsp;All information we collect and/or receive under this section is collectively called “</span>
      <span class="c7 c1">Personal Information</span>
      <span class="c5 c1">.” &nbsp;We do not collect any personal information from Visitors or Registered Users unless they provide such information voluntarily.</span>
    </p>
    <p class="c15" id="h.gjdgxs">
      <span class="c5 c1">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="c7 c1">Billing Information</span><span class="c5 c1">.</span>
    </p>
    <p class="c3">
      <span class="c5 c1">In the course of using the Site or the Services, you may be required to provide certain information to our third-party payment vendors pursuant to the terms and conditions of their privacy policies and terms of use. &nbsp;Such information may include a debit card number, credit card number, expiration date, billing address, activation codes, and similar information. &nbsp;Such information is collectively called the “</span>
      <span class="c7 c1">Billing Information.</span>
      <span class="c5 c1">” &nbsp;You authorize our third-party payment vendors to collect, process, and store your Billing Information. &nbsp;Splacer does not store or process your Billing Information.</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="c7 c1">Other Information</span><span class="c5 c1">.</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">In addition to the information noted above, we may collect additional information (collectively, the “</span>
      <span class="c7 c1">Other Information</span>
      <span class="c5 c1">”). &nbsp;Such Other Information may include:</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3 c6">
      <span class="c5 c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="c7 c1">From You</span>
      <span class="c5 c1">. &nbsp;Additional information about yourself that you voluntarily provide to us, such as job title, company or event information, service preferences, and other information that does not identify you personally.</span>
    </p>
    <p class="c2 c17"><span class="c5 c1"></span></p>
    <p class="c3 c6">
      <span class="c5 c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="c7 c1">From Your Activity</span>
      <span class="c5 c1">. &nbsp;Information that we automatically collect when you use the Site or the Services, including, without limitation:</span>
    </p>
    <p class="c14">
      <span class="c5 c1">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IP addresses, which may consist of a static or dynamic IP address and will sometimes point to a specific identifiable computer or device; browser type and language; referring and exit pages and URLs; date and time; amount of time spent on particular pages; what sections of the Site you visit; and similar data; and</span>
    </p>
    <p class="c14">
      <span class="c5 c1">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Information about your device, including the type of device; universally unique ID (“UUID”); advertising identifier (“IDFA”); MAC address; operating system and version (e.g., iOS, Android or Windows); carrier and country location; hardware and processor information (e.g., storage, chip speed, camera resolution, NFC enabled); network type (WiFi, 3G, 4G, LTE); and similar data.</span>
    </p>
    <p class="c3 c6">
      <span class="c5 c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="c7 c1">From Cookies</span>
      <span class="c5 c1">. &nbsp;Information that we collect using “cookie” technology.</span><span class="c1"><br></span>
      <span class="c5 c1">Cookies are small packets of data that a website stores on your computer’s or mobile device’s hard drive so that your computer will “remember” information about your visit. &nbsp;We may use both session cookies (which expire once you close your web browser) and persistent cookies (which stay on your computer until you delete them) to help us collect Other Information and to enhance your experience using the Site or the Services. &nbsp;If you do not want us to place a cookie on your hard drive, you may be able to turn that feature off on your computer or mobile device. &nbsp;Please consult your Internet browser’s documentation for information on how to do this and how to delete persistent cookies. &nbsp;However, if you decide not to accept cookies from us, the Site or the Services may not function properly.</span>
    </p>
    <p class="c17 c20">
      <span class="c5 c1">d.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c1 c7">Third-Party Analytics</span>
      <span class="c5 c1">&nbsp;</span>
    </p>
    <p class="c15 c17">
      <span class="c5 c1">We use third-party analytics services (such as Google Analytics) to evaluate use of the Site and the Services, compile reports on activity, collect demographic data, analyze performance metrics, and collect and evaluate other information relating to the Site &nbsp;and the Services and mobile and Internet usage. &nbsp;These third parties use cookies and other technologies to help analyze and provide us the data. &nbsp;By accessing and using the Site or the Services, you consent to the processing of data about you by these analytics providers in the manner and for the purposes set out in this Privacy Policy.</span>
    </p>
    <p class="c3 c17">
      <span class="c5 c1">For more information on Google Analytics, including how to opt out from certain data collection, please visit </span>
      <span class="c10 c1 c22"><a class="c18" href="https://www.google.com/url?q=https://www.google.com/analytics&amp;sa=D&amp;ust=1488793790998000&amp;usg=AFQjCNEw6JvHDXoXygXSepB2ejQSoneU0g">https://www.google.com/analytics</a></span>
      <span class="c5 c1">. &nbsp;Please be advised that if you opt out of any service, you may not be able to use the full functionality of the Site or the Services.</span></p><p class="c15 c23"><span class="c4"></span>
    </p>
    <p class="c15"><span class="c4">Information Collected by or Through Third-Party Advertising Companies</span></p>
    <p class="c3">
      <span class="c5 c1">We may share Other Information about your activity on the Site or the Services with third parties for the purpose of tailoring, analyzing, managing, reporting, and optimizing advertising you see on the Site or the Services and elsewhere. &nbsp;These third parties may use cookies, pixel tags (also called web beacons or clear gifs), and/or other technologies to collect such Other Information for such purposes. &nbsp;Pixel tags enable us, and these third-party advertisers, to recognize a browser’s cookie when a browser visits the site on which the pixel tag is located in order to learn which advertisement brings a user to a given site.</span>
    </p>
    <p class="c12"><span class="c4"></span></p>
    <p class="c3">
      <span class="c4">Accessing and Modifying Personal Information and Communication Preferences</span></p><p class="c2"><span class="c5 c1"></span>
    </p>
    <p class="c3">
      <span class="c1 c5">If you are a Registered User, you may access, review, and make changes to your Personal Information, certain Other Information, and, if applicable, Billing Information by following the instructions found on the Site. &nbsp;In addition, you may manage your receipt of marketing and non-transactional communications by clicking on the “unsubscribe” link located on the bottom of any Splacer marketing email. &nbsp;Registered Users cannot opt out of receiving transactional e-mails related to their account. &nbsp;We will use commercially reasonable efforts to process such requests in a timely manner. &nbsp;You should be aware, however, that it is not always possible to completely remove or modify information in our subscription databases. </span>
    </p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3">
      <span class="c11 c21">How We Use and Share the Information</span>
      <span class="c5 c1">&nbsp; &nbsp;</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">We use the Personal Information and the Other Information (collectively, the “</span>
      <span class="c7 c1">Information</span>
      <span class="c5 c1">”) to provide the Services; to maintain and improve our Site and Services; to solicit your feedback; and to inform you about our products and services and those of our third-party marketing partners.</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">We may also use and/or share Information as described below.</span></p><p class="c2">
      <span class="c5 c1"></span>
    </p>
    <ul class="c9 lst-kix_list_1-0 start">
      <li class="c0">
       <span class="c5 c1">Splacer will access, use, and share the Information as required to process your orders and provide support to you.</span>
      </li>
    </ul>
    <p class="c2"><span class="c5 c1"></span></p>
    <ul class="c9 lst-kix_list_2-0 start">
      <li class="c0">
        <span class="c5 c1">In order to provide our Services, we may share the Information with our third-party promotional and marketing partners, including, without limitation, businesses participating in our various programs.</span>
      </li>
    </ul>
    <p class="c2"><span class="c5 c1"></span></p>
    <ul class="c9 lst-kix_list_2-0">
      <li class="c0">
        <span class="c5 c1">We may, from time to time, share and/or license Information to other companies who may provide you information about the products and services they or their partners offer. &nbsp;However, to the extent required by law, you will be given the opportunity to opt out of such sharing.</span>
      </li>
    </ul>
    <p class="c2 c17"><span class="c5 c1"></span></p>
    <ul class="c9 lst-kix_list_2-0">
      <li class="c0">
        <span class="c5 c1">We may employ other companies and individuals to perform functions on our behalf. &nbsp;Examples may include providing technical assistance, customer service, and marketing assistance. &nbsp;These other companies will have access to the Information only as necessary to perform their functions and to the extent permitted by law.</span>
      </li>
    </ul>
    <p class="c2"><span class="c5 c1"></span></p>
    <ul class="c9 lst-kix_list_2-0">
      <li class="c0">
        <span class="c5 c1">In an ongoing effort to better understand our Visitors, Registered Users, and Services, we may analyze Information in aggregate form. &nbsp;This aggregate information does not identify you personally. &nbsp;We may share this aggregate data with our affiliates, agents, and business partners. We may also disclose aggregated user statistics in order to describe our Site and Services to current and prospective business partners and to other third parties for other lawful purposes.</span>
      </li>
    </ul>
    <p class="c2"><span class="c5 c1"></span></p>
    <ul class="c9 lst-kix_list_2-0">
      <li class="c0">
       <span class="c5 c1">We may share some or all of your Information with any of our parent companies, subsidiaries, joint ventures, or other companies under common control with us.</span>
      </li>
    </ul>
    <p class="c2"><span class="c5 c1"></span></p>
    <ul class="c9 lst-kix_list_2-0">
      <li class="c0">
        <span class="c5 c1">As we develop our businesses, we might sell or buy businesses or assets. &nbsp;In the event of a corporate sale, merger, reorganization, sale of assets, dissolution, or similar event, the Information may be part of the transferred assets.</span>
      </li>
    </ul>
    <p class="c2"><span class="c5 c1"></span></p>
    <ul class="c9 lst-kix_list_2-0">
      <li class="c0">
        <span class="c5 c1">To the extent permitted by law, we may also disclose the Information: (i) when required by law, court order, or other government or law enforcement authority or regulatory agency; or (ii) whenever we believe that disclosing such Information is necessary or advisable, for example, to protect the rights, property, or safety of Splacer or others.</span>
      </li>
    </ul>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c13"><span class="c4">Information You Share</span></p>
    <p class="c12"><span class="c4"></span></p>
    <p class="c3">
      <span class="c5 c1">Please keep in mind that whenever you voluntarily make your Personal Information or Registered User Content available to third parties — for example on message boards or web logs; through email; or in comment or chat areas — that information and content can be seen, collected, heard, and/or used by others besides us. &nbsp;We cannot be responsible for any unauthorized third-party use of such information or content, and this Privacy Policy does not apply to any Information that you share in any of the foregoing ways.</span>
    </p>
    <p class="c12"><span class="c4"></span></p>
    <p class="c13"><span class="c4">How We Protect the Information</span></p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">We take commercially reasonable steps to protect the Information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. &nbsp;Please understand, however, that no security system is impenetrable. &nbsp;We cannot guarantee the security of our databases, nor can we guarantee that the Information that you supply will not be intercepted while being transmitted to and from us over the Internet. &nbsp;In particular, e-mail sent to or from the Site may not be secure, and you should therefore take special care in deciding what information you send to us via e-mail.</span>
    </p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3"><span class="c4">Important Notice to Non-U.S. Residents</span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3">
      <span class="c5 c1">It is important to note that the Site and its servers are operated in the United States. &nbsp;If you are located outside of the United States, please be aware that any Information you provide to us will be transferred to the United States. &nbsp;By using the Site or by providing us Information when using the Services, you hereby irrevocably consent to this transfer and our use of the Information and data provided by you in accordance with this Privacy Policy.</span></p><p class="c2"><span class="c4"></span>
    </p>
    <p class="c3"><span class="c4">Children </span></p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">We do not knowingly collect Personal Information from children under the age of 13 through the Site. &nbsp;If you are under 13, please do not give us any Personal Information. &nbsp;We encourage parents and legal guardians to monitor their children’s Internet usage and to help enforce our Privacy Policy by instructing their children to never provide Personal Information through the Site without their permission. &nbsp;If you have reason to believe that a child under the age of 13 has provided Personal Information to us, please contact us, and we will endeavor to delete that information from our databases.</span>
    </p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3"><span class="c4">California Residents</span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3">
      <span class="c1">Under California Civil Code Section 1798.83, California residents who have an established business relationship with Splacer may choose to opt out of our sharing your Personal Information with third parties for direct marketing purposes. &nbsp;If you are a California resident and (1) you wish to opt out; or (2) you wish to request certain information regarding our disclosure of your Personal Information to third parties for the direct marketing purposes, please send an e-mail to </span>
      <span class="c1 c10"><a class="c18" href="mailto:info@splacer.co">info@splacer.co</a></span>
      <span class="c5 c1">&nbsp;with “PRIVACY POLICY” in the subject line or write to us at:</span>
    </p><p class="c2"><span class="c5 c1"></span></p><p class="c3"><span class="c5 c1">Splacer Inc.</span></p>
    <p class="c3">
     <span class="c1">240 Bedford Ave., 2</span>
     <span class="c1 c16">nd</span>
     <span class="c5 c1">&nbsp;Floor</span>
    </p>
    <p class="c3"><span class="c5 c1">Brooklyn, NY 11211</span></p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">Splacer does not monitor, recognize, or honor any behavioral advertising opt-out or do not track mechanisms, including general web browser “Do Not Track” settings and/or signals.</span>
    </p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3"><span class="c4">External Websites</span></p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">The Site may contain links to third-party websites. &nbsp;We have no control over the privacy practices or the content of any of our business partners, advertisers, sponsors, or other websites to which we provide links. &nbsp;As such, we are not responsible for the content or the privacy policies of those third-party websites. &nbsp;You should check the applicable third-party privacy policy and terms of use when visiting any other websites.</span>
    </p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c13"><span class="c4">Changes to This Privacy Policy</span></p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c3">
      <span class="c5 c1">This Privacy Policy is effective as of the date stated at the top of this Privacy Policy. &nbsp;We may change this Privacy Policy from time to time. &nbsp;By accessing the Site and/or using our services after we make any such changes to this Privacy Policy, you are deemed to have accepted such changes. &nbsp;Please be aware that, to the extent permitted by applicable law, our use of the Information is governed by the Privacy Policy in effect at the time we collect the Information. &nbsp;Please refer back to this Privacy Policy on a regular basis.</span>
    </p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3"><span class="c4">How to Contact Us</span></p>
    <p class="c2"><span class="c5 c1"></span></p>
    <p class="c13">
      <span class="c1">If you have questions about this Privacy Policy, please contact us via e-mail at </span>
      <span class="c10 c1"><a class="c18" href="mailto:info@splacer.co">info@splacer.co</a></span>
      <span class="c5 c1">&nbsp;with “Privacy Policy” in the subject line.</span>
    </p>
  </section>
</section>     

    
   
