<section>
  <footer class="main-footer">
    <section>
      <div class="row">
        <div class="col-sm-8">
          <div class="footer-links">
            <div class="row">
              <div class="footer-links-part col-sm-5">
                <h3>company</h3>
                  <ul>
                  <li><a href="/#/about">About</a></li>
                  <li><a class="js-popup-tos" href="/#/security_deposits">Security Deposits</a></li>
                  <li><a href="/#/cancellation_policy">Cancellation policy</a></li>
                  <li><a href="404.html">Privacy</a></li>
                      <!--
                  <li><a href="/content/liability_coverage">Space Liability Insurance</a></li>
                  <li><a href="/site_map">Site map</a></li>
                  <li><a href="/content/contact">Contact us</a></li> -->
                  </ul>
              </div>
              <div class="footer-links-part col-sm-4">
                <h3>discover</h3>
                  <ul>
                  <!--<li><a href="#" target="_blank">Blog</a></li> -->
                  <li><a href="404.html">Press</a></li>
                  <li><a href="404.html">How it works</a></li>
                  <li><a href="404.html">FAQs&nbsp;</a></li>
                  <li><a href="404.html">Add a space</a></li>
                  <li><a href="404.html">Host Referral Program</a></li>
                  </ul>
              </div>
              <div class="footer-links-part col-sm-3">
                <h3>Cities</h3>
                  <ul>
                  <li><a href="" target="_blank">Pune</a></li>
                  <li><a href="" target="_blank">Mumbai</a></li>
                  <li><a href="" target="_blank">Delhi</a></li>
                  <li><a href="" target="_blank">Bangalore</a></li>
                  <li><a href="" target="_blank">Hyderabad</a></li>
                  <li><a href="" target="_blank">Kolkata</a></li>
                  <li><a href="" target="_blank">Chennai</a></li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="msg hidden-xs">
          <span>This product is designed and Developed by Venuse Inc., &nbsp;<a href="http://venuse.in" target="blank">www.venuse.in</a></span>
          </div>
        </div>
        <div class="col-sm-4">
        <div class="footer-share-links">
        <a href="" rel="nofollow" target="blank"></a>
        <a href="" rel="nofollow" target="blank"></a>
        <a href="" rel="nofollow" target="blank"></a>
        <a href="" rel="nofollow" target="blank"></a>
        <a href="" rel="nofollow" target="blank"></a>
        <a href="" rel="nofollow" target="blank"></a>
        <a href="" rel="nofollow" target="blank"></a>
        <a href="" rel="nofollow" target="blank"></a>
        <div class="copyright">Copyright © 2017 Venuse. All rights reserved.</div>
        <img src="img/Venuse-HighRes(whhite).png" alt="Venuse.in" width="180px" height="180px">
        </div>
    </div>
  </div>
  </section>
  </footer>
</section>