  <div class="modal fade" id="signup-modal" role="dialog">
    <div class="modal-dialog" id="login-and-sign-up">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h3 class="modal-title">Create Your Account</h3>
        </div>
        <div class="modal-body">
         <form name="regForm" ng-submit="vm.checkReg();" novalidate>                          
				<a class="fb-btn" ng-click="vm.fbLogin();">LOG IN WITH FACEBOOK</a>               
				 <google-plus-signin clientid="985981977666-v5mrr3cta505cvjrj0etf6925jlr9lh6" 
					autorender="false" customtargetid="g-signin1">
					<a class="google-btn" id="g-signin1">LOG IN WITH GOOGLE</a>
						</google-plus-signin>             
		<div style="margin-top:20px"></div>               
		<div style="margin-top:30px"></div>  
			<h6>Sign up with Email</h6>	
			<div class="form-group">                   
				<label class="hidden"> Your Name </label>                   
				<input class="form-control" type="text" name="name" placeholder="Your Name" 
				ng-model="vm.regName" required>               
			</div>
			<p class="error" ng-if="regForm.name.$invalid && regForm.name.$touched">Please enter name.</p> 			
			<div class="form-group">                   
				<label class="hidden">Your Email </label>                   
				<input class="form-control" type="email" name="email"  placeholder="Your Email" 
				ng-model="vm.regEmail" required>               
			</div> 
			<p class="error" ng-if="regForm.email.$invalid && regForm.email.$touched">Please enter valid email.</p>              
			<div class="form-group">                   
				<label class="hidden">Choose a Password </label>                   
				<input class="form-control" type="password" name="pass" placeholder="Choose a Password" 
				ng-model="vm.regPass" required>                              
			</div>
			 <p class="error" ng-if="regForm.pass.$invalid && regForm.pass.$touched">Please enter password.</p>               
				<div style="margin-top:20px"></div>               
				<div style="margin-top:30px"></div>  
				<div class="form-group user-agree"> 
				By signing up I agree to Venuse's <a href="">Terms of Service</a>              
				</div>             
			<div class="form-group form-btn">                   
				<input ng-if="!vm.regLoad" id="sign-form-btn" class="btn btn-green" type="submit" value="Sign up">                   
				<img ng-if="vm.regLoad" alt="Ajax loader" class="login-ajax-loader" src="img/ajax-loader.gif">               
			</div>               
			     
		<div class="form-group form-footer">
		Already have an account? <a href="#" class="form-switch sp-bold" ng-click="vm.showLogin();">Log In</a>  
		</div>  
	
		</form> 
<div class="clearfix"></div>		
        </div>
        
      </div>
      
    </div>
  </div>